.app-shell-header {
  width: 100%;
  min-width: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.app-shell-header--user {
  --header-text: var(--user-200);
  --header-profile-bg: var(--user-200);
  --header-profile-fg: var(--user-800);
}

.app-shell-header--admin {
  --header-text: var(--admin-200);
  --header-profile-bg: var(--admin-200);
  --header-profile-fg: var(--admin-800);
}

.app-shell-header__left,
.app-shell-header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-shell-header__left {
  flex-shrink: 0;
}

.app-shell-header__right {
  flex: 1;
  min-width: 0;
  justify-content: flex-end;
}

.app-shell-header__toggle {
  width: 40px;
  min-width: 40px;
  height: 40px;
  padding: 0;
  border-radius: var(--radius-full);
}

.app-shell-header__profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  min-width: 0;
}

.app-shell-header__loading {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.app-shell-header__loading-text {
  color: var(--header-text);
  font-family: var(--font-normal);
  font-size: 0.875rem;
  text-align: right;
}

.app-shell-header__user-name {
  font-family: var(--font-normal);
  color: var(--header-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-shell-header__profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;
  flex-shrink: 0;

  background-color: var(--header-profile-bg);
  color: var(--header-profile-fg);
  border-radius: var(--radius-full);
}
