.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-accent-primary {
    color: var(--accent-primary);
}

.text-text-secondary {
    color: var(--text-secondary);
}

.text-white {
    color: #ffffff;
}